.opencode
**/target/
AGENTS.md
node_modules/
package.json
pnpm-lock.yaml
~/
*.pem
.tmp
__pycache__/
fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/functions/
fish/.config/fish/themes/
fish_variables*
*.bak
*.bak.*
.omo
mimeinfo
