version: "3.9"

networks:
    traefik_net:
        external: true

services:
    traefik:
        image: traefik:v3.6.1
        container_name: traefik
        restart: unless-stopped
        command:
            # Entrypoints for HTTP and HTTPS
            - --entrypoints.web.address=:80
            - --entrypoints.websecure.address=:443
            # Enable Docker provider
            - --providers.docker=true
            - --providers.docker.exposedbydefault=false
            # Enable dashboard (optional, good for debugging)
            - --api.dashboard=true
            - --api.insecure=true
            # File provider for dynamic config
            - --providers.file.filename=/etc/traefik/dynamic_conf/tls.yml
            - --providers.file.watch=true
        ports:
            - "80:80"
            - "443:443"
            - "8080:8080" # Dashboard port (if enabled)
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./traefik-config/certs:/etc/traefik/certs:ro # Mount the certs directory
            - ./traefik-config/dynamic_conf:/etc/traefik/dynamic_conf:ro # For dynamic config
        networks:
            traefik_net:
                aliases:
                    - fcm.langtech.test
                    - erp.langmaster.test
                    - erp.hbr.test
                    - yusic.test
                    - template.hbr.test
                    - hbr.edu.test
