services:
    portainer:
        image: portainer/portainer-ce:latest
        container_name: portainer
        restart: unless-stopped
        security_opt:
            - no-new-privileges:true
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - portainer_data:/data
        networks:
            - traefik_net
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.portainer-secure.entrypoints=websecure"
            - "traefik.http.routers.portainer-secure.rule=Host(`portainer.local`)"
            - "traefik.http.routers.portainer-secure.tls.certresolver=myresolver"
            - "traefik.http.routers.portainer-secure.service=portainer-svc"
            - "traefik.http.routers.portainer-http.entrypoints=web"
            - "traefik.http.routers.portainer-http.rule=Host(`portainer.local`)"
            - "traefik.http.routers.portainer-http.middlewares=redirect-to-https"
            - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
            - "traefik.http.services.portainer-svc.loadbalancer.server.port=9443"

volumes:
    portainer_data:

networks:
    traefik_net:
        external: true
